@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;

}

html {
	font-size: 1.2vw;
	position: relative;
}

body {
	width: 100%;
	height: 100%;
}

.box {
	width: 100%;
	height: 100%;
	position: relative;
}

.beiji {
	width: 100%;
	/* height: 100%; */
	display: block;
}

.mscBtn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 0.51rem;
	height: 0.51rem;
	line-height: 0.255rem;
}

.yinyue {
	width: 0.51rem;
	height: 0.51rem;
	display: none;
}

.clo_yin {
	width: 0.51rem;
	height: 0.51rem;

}

.con_box {
	width: 100%;
	position: absolute;
	top: 1.5rem;
	left: 0;
}

.lanse {
	width: 100%;
	height: 8.5rem;
	/* background: blue; */
	margin: 0 auto;
	/* background: url(../img/comput.png) no-repeat; */
	/* background-size: 100% 100%; */
	position: relative;
	overflow: hidden;
}

.lipin {
	width: 2.93rem;
	height: 0.44rem;
	display: block;
	margin: 2rem auto 0;
}

.taozhuang {
	width: 7.46rem;
	height: 3.79rem;
	display: block;
	margin: 0.5rem auto 0;
}

.liu_box {
	width: 6rem;
	height: 6.5rem;
	background: url(../img/kuang.png) no-repeat;
	background-size: 100% 100%;
	margin: 7.5rem auto 0;
	overflow: hidden;
}

.liu_box_box {
	width: 4rem;
	margin: auto;

}

.liu_box_box>p:nth-of-type(1) {
	margin-top: 0.4rem;
}

.zhichi {
	width: 3.4rem;
	height: 1.5rem;
	margin: 0.08rem auto 0;
	background: url(../img/dilan.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.liu_box_box p {
	color: white;
	font-size: 0.16rem;
	width: 100%;
	text-align: left;
	margin-top: 0.11rem;
	padding: 0 0.3rem;
	box-sizing: border-box;
	display: flex;
	/* justify-content: space-between; */
}

.zhichi>p {
	padding: 0 0.15rem;
}

.liu_box input {
	/* margin-top: 0.2rem; */
	width: 4rem;
	height: 0.25rem;
	display: inline-block;
	border: none;
	text-align: left;
	background: #AACFEC;
	padding: 0 0.1rem;
	box-sizing: border-box;
	color: #0075D5;
}

.liu_box select {
	width: 3.4rem;
	height: 0.25rem;
	border: none;
	background: #AACFEC;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding: 0 0.1rem;
	box-sizing: border-box;
	color: #0075D5;
}

select::-ms-expand {
	display: none;
}

.canyu {
	width: 2.40rem;
	height: 0.64rem;
	/* display: block; */
	margin: 0.8rem auto 0;
	font-size: 0.32rem;
	color: #ffffff;
	text-align: center;
	line-height: 0.64rem;
	background: url(../img/landi.png) no-repeat;
	background-size: 100% 100%;
	font-style: oblique;
	font-weight: bold;
	cursor: pointer;
}

.shuom {
	width: 1.7rem;
	height: 0.29rem;
	display: block;
	margin: 0.4rem auto 0;
	cursor: pointer;
}

.rule,
.wanshan,.succ,.wei_box_box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

/* 规则 */
.rule .rule_box {
	/* width: 7.61rem; */
	/* height: 9.74rem; */
	width: 22%;
	height: 5.74rem;
	position: absolute;
	top: 2rem;
	/* bottom: 0; */
	/* left: 5.795rem; */
	left: 39%;
	/* margin: auto; */
	overflow: hidden;
	padding: 0.29rem 0;
	box-sizing: border-box;
}

.rule_da {
	width: 106%;
	height: 70%;
	padding: 0.2rem 0;
	box-sizing: border-box;
	position: absolute;
	top: 10%;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
}

.rule .close_box {
	text-align: right;
	position: absolute;
	top: 3%;
	/* top: 10%; */
	right: 36%;
	z-index: 1;
}

.rule .close_box img {
	width: 40px;
	height: 40px;
	margin: 2% 3% 0;
}

.rule .rule_box .rule_white {
	width: 100%;
	height: 4.74rem;
	background: white;
	margin: auto;
	padding: 0 0.2rem;
	box-sizing: border-box;
	background: url(../img/huo_ta.png) no-repeat;
	background-size: 100% 100%;
}

.rule .rule_box .rule_white .title_con {
	font-size: 0.26rem;
	text-align: center;
	color: #ffffff;
	/* margin-top: 0.5rem; */
}

.rule .rule_box .rule_white .xian {
	width: 90%;
	display: block;
	margin: 0.16rem auto 0;
}

.rule .rule_box .rule_white .rule_con {
	padding: 0 0.2rem;
	box-sizing: border-box;
	font-size: 0.18rem;
	margin-top: 0.19rem;
	color: #ffffff;
	box-sizing: border-box;
	padding: 0 0.5rem 0 0.3rem;
	line-height: 0.33rem;
}

.bols {
	font-size: 0.2rem;
	font-weight: bold;
}

.wanshan .wanshan_box {
	width: 4.64rem;
	height: 2.74rem;
	position: absolute;
	top: 2rem;
	left: 39%;
	overflow: hidden;
}

.wanshan .wanshan_box .wanshan_white {
	width: 4.64rem;
	height: 2.74rem;
	background: white;
	margin: auto;
	padding: 0 0.2rem;
	box-sizing: border-box;
	text-align: center;
	line-height: 2.74rem;
	background: url(../img/tan.png) no-repeat;
	background-size: 100% 100%;
	color: white;
	font-size: 0.4rem;
	font-weight: bold;
}

.wanshan .wan_box {
	text-align: right;
	position: absolute;
	top: 2.5%;
	/* top: 10%; */
	right: 34.5%;
	z-index: 1;
}

.wanshan .wan_box img {
	width: 40px;
	height: 40px;
	margin: 2% 3% 0;
}
.wei_box_box .wei_box {
		width: 4.64rem;
		height: 2.74rem;
		position: absolute;
		top: 2rem;
		left: 39%;
		overflow: hidden;
	}
	
	.wei_box_box .wei_box .wei_white {
		width: 4.64rem;
		height: 2.74rem;
		background: white;
		margin: auto;
		padding: 0 0.2rem;
		box-sizing: border-box;
		text-align: center;
		line-height: 2.74rem;
		background: url(../img/tan.png) no-repeat;
		background-size: 100% 100%;
		color: white;
		font-size: 0.4rem;
		font-weight: bold;
	}
.succ .success_box {
	width: 4.64rem;
	height: 3.74rem;
	position: absolute;
	top: 2rem;
	left: 39%;
	overflow: hidden;
}

.succ .success_box .succ_white {
	width: 4.64rem;
	height: 3.74rem;
	background: white;
	margin: auto;
	padding: 0 0.2rem;
	box-sizing: border-box;
	background: url(../img/tan.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.succ .success_box .succ_white p {
	width: 100%;
	text-align: center;
	margin-top: 0.7rem;
	color: white;
	font-size: 0.4rem;
	font-weight: bold;
}

.succ .success_box .succ_white .queding {
	background: url(../img/qianlan.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	width: 2.86rem;
	height: 0.75rem;
	line-height: 0.75rem;
	margin: 0.5rem auto 0;
	color: white;
	font-size: 0.3rem;
	font-weight: bold;
}
.succ .success_box .succ_white .title_jia{
	text-align: center;
	color: white;
	font-size: 0.24rem;
	margin-top: 0.3rem;
}
.succ .succ_box {
	text-align: right;
	position: absolute;
	top: 2.5%;
	/* top: 10%; */
	right: 34.5%;
	z-index: 1;
}

.succ .succ_box img {
	width: 40px;
	height: 40px;
	margin: 2% 3% 0;
}

.guding {
	width: 100%;
	overflow-y: hidden;
	/*为了兼容普通PC的浏览器*/
	height: 100%;
	position: fixed;
}

.erdiansan {
	width: 1.6rem !important;
}

.erdianleft {
	width: 1.7rem !important;
	margin-left: 0.1rem;
}

.xiala_box {
	position: relative;
	overflow: hidden;
}

.xiala {
	position: absolute;
	top: 0.07rem;
	right: 0.05rem;
}

.xiala2 {
	position: absolute;
	top: 0.07rem;
	right: 0.05rem;
}

.biao {
	font-size: 0.16rem;
	color: #ffffff;
}

.box_con {
	margin-top: 0.08rem;
	height: 0.3rem;
	width: 100%;
	padding: 0 0.4rem 0 0.5rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box_con input {
	width: 2.2rem;
	height: 0.2rem;
	border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
}

.box_con select {
	width: 1.7rem;
	height: 0.2rem;
	text-align: right;
	color: #499dd9;
	border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
}

.box_con select option {
	text-align: right;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	/* color: #499dd9; */
	color: #0075D5;
}

::-moz-placeholder {
	/* Firefox 19+ */
	/* color: #499dd9; */
	color: #0075D5;
}

:-ms-input-placeholder {
	/* IE 10+ */
	/* color: #499dd9; */
	color: #0075D5;
}

:-moz-placeholder {
	/* Firefox 18- */
	/* color: #499dd9; */
	color: #0075D5;
}

.string {
	min-width: 0.4rem;
	max-width: 8rem;
	height: 0.41rem;
	position: absolute;
	/* overflow: hidden; */
	color: #ffffff;
	font-size: 0.2rem;
	line-height: 0.41rem;
	cursor: pointer;
	white-space: nowrap;
	/* background: skyblue; */
	text-align: center;
	/* background: url(../img/222.png) no-repeat; */
	/* background-size: 100% 100%; */
	padding: 0 0.2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.string img {
	width: 0.2rem;
	height: 0.2rem;
	margin-left: 0.05rem;
}

.string p {
	width: 100%;
	height: 100%;
}

.jieshao {
	font-size: 0.24rem;
	font-style: oblique;
	font-weight: bold;
}

.title {
	font-size: 0.28rem;
	font-style: oblique;
	font-weight: bold;
}

.bianse {
	/* color: red; */
	font-style: oblique;
}

.cheng {
	/* color: red; */
	font-style: oblique;
}

.dianzan {
	font-size: 0.24rem;
	color: yellow;
	font-weight: bold;
}

@media screen and (max-width: 750px) {
	.con_box {
		top: 0.5rem;
	}

	.lanse {
		height: 5.9rem;
	}

	.liu_box {
		width: 5.11rem;
		height: 6.5rem;
		margin: 1.3rem auto 0;
	}

	.liu_box>p:nth-of-type(1) {
		margin-top: 0.3rem;
	}

	.liu_box>p {
		font-size: 0.16rem;
		margin-top: 0.08rem;
	}

	.liu_box input {
		width: 4rem;
		height: 0.25rem;
		font-size: 0.16rem;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-khtml-border-radius: 0;
	}

	.liu_box select {
		/* width: 4rem; */
		height: 0.25rem;
		font-size: 0.16rem;
		outline: none;
		/* color: #a8a8a8; */
		border: none;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-khtml-border-radius: 0;
	}

	.canyu {
		width: 2.40rem;
		height: 0.64rem;
		margin: 0.3rem auto 0;
		font-size: 0.32rem;
		color: #ffffff;
		text-align: center;
		line-height: 0.64rem;
		cursor: pointer;
	}

	.erdiansan {
		width: 1.5rem !important;
	}

	.erdianleft {
		width: 1.8rem !important;
		margin-left: 0.1rem;
	}

	.xiala2 {
		width: 0.2rem;
		height: 0.13rem;
		right: 0.05rem;
	}

	.xiala {
		width: 0.2rem;
		height: 0.13rem;
	}

	.shuom {
		width: 1.7rem;
		height: 0.29rem;
		margin: 0.2rem auto 0;
		cursor: pointer;
	}

	.lipin {
		width: 1.71rem;
		height: 0.26rem;
		display: block;
		margin: 0.8rem auto 0;
	}

	.taozhuang {
		width: 4.34rem;
		height: 2.2rem;
		display: block;
		margin: 0.5rem auto 0;
	}

	.rule .rule_box {
		width: 4.3rem;
		height: 5.71rem;
		top: 3.5rem;
		left: 1.6rem;
		padding: 0.29rem 0;
	}

	.rule .close_box {
		text-align: right;
		position: absolute;
		/* top: 19%; */
		top: 13%;
		right: 17%;
		z-index: 1;
	}

	.rule .close_box img {
		width: 0.5rem;
		height: 0.5rem;
		margin: 2% 3% 0;
	}

	.rule .rule_box .rule_white {
		width: 100%;
		height: 4.71rem;
		background: white;
		overflow: hidden;
		overflow-y: auto;
		margin: auto;
		padding: 0 0.2rem;
		box-sizing: border-box;
		background: url(../img/huo_ta.png) no-repeat;
		background-size: 100% 100%;
	}

	.rule .rule_box .rule_white .title_con {
		font-size: 0.26rem;
		text-align: center;
		color: #ffffff;
		/* margin-top: 0.4rem; */
	}

	.rule .rule_box .rule_white .xian {
		width: 90%;
		display: block;
		margin: 0.16rem auto 0;
	}

	.rule .rule_box .rule_white .rule_con {
		padding: 0 0.6rem 0 0.3rem;
		box-sizing: border-box;
		font-size: 0.18rem;
		margin-top: 0.19rem;
		/* color: #838383; */
	}

	.xian {
		height: 0.14rem;
	}

	.title {
		font-size: 0.32rem;
		font-style: oblique;
	}

	.string {
		min-width: 0.65rem;
		max-width: 6rem;
		height: 0.41rem;
	}

	.bols {
		font-size: 0.2rem;
	}

	.wanshan .wanshan_box {
		width: 4.64rem;
		height: 2.74rem;
		position: absolute;
		top: 5rem;
		left: 1.43rem;
		overflow: hidden;
	}

	.wanshan .wanshan_box .wanshan_white {
		width: 4.64rem;
		height: 2.74rem;
		background: white;
		margin: auto;
		padding: 0 0.2rem;
		box-sizing: border-box;
		text-align: center;
		line-height: 2.74rem;
		background: url(../img/tan.png) no-repeat;
		background-size: 100% 100%;
		color: white;
		font-size: 0.4rem;
		font-weight: bold;
	}
	
	.wanshan .wan_box {
		text-align: right;
		position: absolute;
		top: 18.5%;
		/* top: 10%; */
		right: 10.5%;
		z-index: 1;
	}

	.wanshan .wan_box img {
		width: 0.5rem;
		height: 0.5rem;
		margin: 2% 3% 0;
	}
	.wei_box_box .wei_box {
		width: 4.64rem;
		height: 2.74rem;
		position: absolute;
		top: 5rem;
		left: 1.43rem;
		overflow: hidden;
	}
	
	.wei_box_box .wei_box .wei_white {
		width: 4.64rem;
		height: 2.74rem;
		background: white;
		margin: auto;
		padding: 0 0.2rem;
		box-sizing: border-box;
		text-align: center;
		line-height: 2.74rem;
		background: url(../img/tan.png) no-repeat;
		background-size: 100% 100%;
		color: white;
		font-size: 0.4rem;
		font-weight: bold;
	}
	.succ .success_box {
		width: 4.64rem;
		height: 3.74rem;
		position: absolute;
		top: 4rem;
		left: 1.43rem;
		overflow: hidden;
	}

	.succ .success_box .succ_white {
		width: 4.64rem;
		height: 3.74rem;
		background: white;
		margin: auto;
		padding: 0 0.2rem;
		box-sizing: border-box;
		background: url(../img/tan.png) no-repeat;
		background-size: 100% 100%;
		overflow: hidden;
	}

	.succ .success_box .succ_white p {
		width: 100%;
		text-align: center;
		margin-top: 0.7rem;
		color: white;
		font-size: 0.4rem;
		font-weight: bold;
	}

	.succ .success_box .succ_white .queding {
		background: url(../img/qianlan.png) no-repeat;
		background-size: 100% 100%;
		text-align: center;
		width: 2.86rem;
		height: 0.75rem;
		line-height: 0.75rem;
		margin: 0.5rem auto 0;
		color: white;
		font-size: 0.3rem;
		font-weight: bold;
	}
	.succ .success_box .succ_white .title_jia{
		text-align: center;
		color: white;
		font-size: 0.24rem;
		margin-top: 0.3rem;
	}
	.succ .succ_box {
		text-align: right;
		position: absolute;
		top: 2.5%;
		/* top: 10%; */
		right: 34.5%;
		z-index: 1;
	}

	.succ .succ_box img {
		width: 40px;
		height: 40px;
		margin: 2% 3% 0;
	}

	.jieshao {
		font-size: 0.26rem;
		font-style: oblique;
		font-weight: bold;
	}

	.title {
		font-size: 0.38rem;
		font-style: oblique;
		font-weight: bold;
	}
	.dianzan {
		font-size: 0.26rem;
		color: yellow;
		font-weight: bold;
	}

}
